@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html,
body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  scrollbar-width: none; /* Hide scrollbar */
  -ms-overflow-style: none; /* IE 10+ */
}
body::-webkit-scrollbar {
  display: none;
}
*,*::before,*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.gradient-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -9999;
}

.blob {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: animate-blob 4s ease-in-out infinite;
}
@keyframes animate-blob {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

.blob-1 {
  position: absolute;
  top: 30%;
  left: 5%;
  width: 400px;
  height: 400px;
  background: url("/abhishek-1.jpeg") no-repeat 50% 50%;
  background-size: cover;
}

.blob-2 {
  position: absolute;
  top: 10%;
  right: 15%;
  width: 200px;
  height: 200px;
  background: url("/cat.gif") no-repeat 50% 50%;
  background-size: cover;
  animation-delay: 0.5s;
}

.blob-3 {
  position: absolute;
  top: 60%;
  right: 10%;
  width: 200px;
  height: 200px;
  background: url("/react.png") no-repeat 50% 50%;
  background-size: cover;
  animation-delay: 1s;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
