@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html,
body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  scrollbar-width: none; /* Hide scrollbar */
  -ms-overflow-style: none; /* IE 10+ */
}
body::-webkit-scrollbar {
  display: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.gradient-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -9999;
}

.blob {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: animate-blob 4s ease-in-out infinite;
}
@keyframes animate-blob {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

.blob-1 {
  position: absolute;
  top: 30%;
  left: 5%;
  width: 400px;
  height: 400px;
  background: url("/abhishek-1.jpeg") no-repeat 50% 50%;
  background-size: cover;
}

.blob-2 {
  position: absolute;
  top: 10%;
  right: 15%;
  width: 200px;
  height: 200px;
  background: url("/cat.gif") no-repeat 50% 50%;
  background-size: cover;
  animation-delay: 0.5s;
}

.blob-3 {
  position: absolute;
  top: 60%;
  right: 10%;
  width: 200px;
  height: 200px;
  background: url("/react.png") no-repeat 50% 50%;
  background-size: cover;
  animation-delay: 1s;
}
.blog-content {
  font-size: 20px;
  color: #242424;
}
.blog-content > p {
  margin-top: 8px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;
  /* letter-spacing: .03em; */
}
.blog-content > h2 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 16px;
}
.blog-content>ul{
  list-style: disc;
}
.blog-content > ul > li {
  margin-left: 30px;
  margin-top: 20px;
}
.blog-content>p>a{
  font-size: 16px;
  font-weight: bold;
  color: #3030d8;
}


.ql-syntax {
  margin-top: 8px;
  border-radius: 0.25rem;
  background: #282c34;
  color: #abb2bf;
  border: 1px solid #34363b;
  border-left: 3px solid #34363b;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
